* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafbff;
  font-family: "Manrope", sans-serif;
  color: black;
}
body .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
}
body header {
  background: linear-gradient(to right, #c9e7f2, #62bada);
  padding: 20px 0 0px 0;
}
body .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .logo {
  font-weight: 700;
  font-size: 20px;
}
body .nav-items {
  display: flex;
  align-items: center;
  gap: 30px;
}
body .nav-items a {
  color: black;
  font-weight: 500;
}
body .nav-items a i {
  margin-left: 3px;
  font-size: 11px;
}
body .auth-buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}
body .sign-in {
  color: #333;
  font-weight: 500;
}
body .start-free {
  background-color: #4f46ba;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
}
body .hero {
  background: linear-gradient(to right, #c9e7f2, #62bada);
  position: relative;
  height: 770px;
  overflow: hidden;
}
body .hero .hero-content {
  display: flex;
  gap: 30px;
}
body .hero .hero-content .hero-text {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  margin-top: 175px;
  gap: 10px;
}
body .hero .hero-content .hero-text h1 {
  font-size: 60px;
  font-weight: 800;
}
body .hero .hero-content .hero-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  color: #555;
}
body .hero .hero-content .hero-text .hero-buttons {
  display: flex;
  gap: 80px;
  margin-top: 15px;
  margin-bottom: 30px;
  align-items: center;
}
body .hero .hero-content .hero-text .hero-buttons .get-started {
  background-color: #3734a9;
  color: white;
  padding: 15px 35px;
  border-radius: 47px;
  font-weight: 400;
  font-size: 16px;
}
body .hero .hero-content .hero-text .hero-buttons .see-how {
  display: flex;
  align-items: center;
  gap: 5px;
}
body .hero .hero-content .hero-text .hero-buttons .see-how .play-icon {
  display: flex;
  background-color: #22d497;
  height: 54px;
  width: 54px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
  color: white;
}
body .hero .hero-content .hero-text .hero-buttons .see-how a {
  font-weight: 400;
  font-size: 17px;
  color: #3734a9;
}
body .hero .hero-content .hero-text .hero-features {
  display: flex;
  gap: 30px;
}
body .hero .hero-content .hero-text .hero-feature {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  color: #757095;
}
body .hero .hero-content .hero-text .hero-feature i {
  color: #3734a9;
  font-size: 18px;
}
body .hero .hero-content .hero-image {
  width: 45%;
}
body .hero .hero-content .hero-image img {
  width: 500px;
}
body .hero .upper-image {
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translateY(-125%);
}
body .hero .bottom-right-image {
  position: absolute;
  right: 0;
  transform: translateY(-110%);
}
body .hero .bottom-left-image {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
}
body .clients {
  background-color: #f5f6f8;
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
body .clients h3 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
}
body .clients .client-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .portfolio-tracking {
  margin-top: 80px;
}
body .portfolio-tracking .tracking-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
body .portfolio-tracking .tracking-header .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .portfolio-tracking .tracking-header .text .automated {
  font-weight: 800;
  font-size: 56px;
}
body .portfolio-tracking .tracking-header .text .sub-title {
  font-weight: 400;
  font-size: 16px;
}
body .portfolio-tracking .tracking-header .testimonial {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 405px;
  border-radius: 15px;
  background-color: #c4c4c4;
  padding: 30px 25px;
  font-weight: 600;
  font-size: 15px;
  position: relative;
}
body .portfolio-tracking .tracking-header .testimonial .quote-left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: black;
  color: white;
  top: 0;
  transform: translateY(-50%);
}
body .portfolio-tracking .tracking-methods {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 70px;
}
body .portfolio-tracking .tracking-methods .tracking-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
  gap: 15px;
  background-color: white;
  flex: 1;
  padding: 85px 25px 15px 25px;
  border: 1px solid #dbe4e9;
  text-align: center;
  border-radius: 15px;
}
body .portfolio-tracking .tracking-methods .tracking-card .upper-box {
  background-color: black;
  width: 39px;
  height: 10px;
  margin-bottom: 5px;
}
body .portfolio-tracking .tracking-methods .tracking-card .lower-box {
  width: 50px;
  height: 30px;
  background-color: pink;
}
body .portfolio-tracking .tracking-methods .tracking-card .blue {
  background-color: #3734a9;
}
body .portfolio-tracking .tracking-methods .tracking-card .orange {
  background-color: #ff7f5c;
}
body .portfolio-tracking .tracking-methods .tracking-card .yellow {
  background-color: #fdbc64;
}
body .portfolio-tracking .tracking-methods .tracking-card h2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 34px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
}
body .portfolio-tracking .tracking-methods .tracking-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #757095;
}
body .portfolio-tracking .tracking-methods .tracking-card .number {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 800;
  font-size: 22px;
}
body .track-payments {
  margin-top: 100px;
  height: 500px;
}
body .track-payments .payments {
  display: flex;
}
body .track-payments .payments .image-container {
  position: relative;
}
body .track-payments .payments .image-container .image-top {
  position: absolute;
  top: -20px;
  right: 25%;
  transform: translateX(45%);
}
body .track-payments .payments .payments-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 20px;
}
body .track-payments .payments .payments-content .why-choose {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #3734a9;
}
body .track-payments .payments .payments-content h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
}
body .track-payments .payments .payments-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #64607d;
  margin-right: 10px;
}
body .track-payments .payments .payments-content .line {
  width: 100;
  height: 2px;
  background-color: #c4c4c4;
}
body .track-payments .payments .payments-content ul {
  list-style: none;
}
body .track-payments .payments .payments-content ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #64607d;
}
body .track-payments .payments .payments-content ul li i {
  color: #fdbc64;
}
body .save-money {
  height: 685px;
  overflow: hidden;
}
body .save-money .save-money-container {
  display: flex;
}
body .save-money .save-money-container .save-money-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 30px;
  margin-top: 150px;
}
body .save-money .save-money-container .save-money-content .why-choose {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #3734a9;
}
body .save-money .save-money-container .save-money-content h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
}
body .save-money .save-money-container .save-money-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #64607d;
  margin-right: 10px;
}
body .save-money .save-money-container .save-money-content .testimonial {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border-radius: 15px;
  background-color: #c4c4c4;
  padding: 30px 25px;
  margin-top: 20px;
  position: relative;
}
body .save-money .save-money-container .save-money-content .testimonial p,
body .save-money .save-money-container .save-money-content .testimonial span {
  font-weight: 600;
  color: black;
  font-size: 15px;
}
body .save-money .save-money-container .save-money-content .testimonial .quote-left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: black;
  color: white;
  top: 0;
  transform: translateY(-50%);
}
body .features {
  margin-top: 80px;
  font-weight: 600px;
  background-color: #c9e7f2;
}
body .features .features-container {
  padding: 100px 0 80px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .features .features-container h2 {
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
}
body .features .features-container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: black;
}
body .features .features-container .features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
body .features .features-container .features-grid .feature-card {
  grid-row: span 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 30px 35px 30px;
  border: 1px solid #abc8d2;
  border-radius: 10px;
}
body .features .features-container .features-grid .feature-card .upper-box {
  width: 43.12px;
  height: 10px;
  background-color: black;
  margin-bottom: 2px;
}
body .features .features-container .features-grid .feature-card .lower-box {
  width: 55.28px;
  height: 30px;
  background-color: #ff7f5c;
}
body .features .features-container .features-grid .feature-card .purple {
  background-color: #3734a9;
}
body .features .features-container .features-grid .feature-card h3 {
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
}
body .features .features-container .features-grid .feature-card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}
body .features .features-container .features-grid .feature-small-card {
  background-color: white;
  padding: 30px 30px 15px 30px;
  display: flex;
  align-items: flex-start;
  border: 1px solid #abc8d2;
  border-radius: 8px;
}
body .features .features-container .features-grid .feature-small-card h3 {
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
}
body .testimonials {
  margin-top: 120px;
}
body .testimonials .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .testimonials .header .header-left h2 {
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
  margin-bottom: 20px;
}
body .testimonials .header .header-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 20px;
}
body .testimonials .header img {
  margin-right: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .testimonials .testimonials-container {
  width: calc(100vw - (100vw - 1250px) / 2 - 19px);
  display: flex;
  gap: 40px;
  margin-top: 35px;
  padding-top: 25px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body .testimonials .testimonials-container .testimonial-card {
  position: relative;
  display: flex;
  width: 700px;
  flex-shrink: 0;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}
body .testimonials .testimonials-container .testimonial-card .testimonial-content {
  margin: 40px 0px 0 20px;
}
body .testimonials .testimonials-container .testimonial-card .testimonial-content p {
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 40px;
}
body .testimonials .testimonials-container .testimonial-card .testimonial-content span {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}
body .testimonials .testimonials-container .testimonial-card img {
  height: 350px;
  width: 240px;
  padding: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .testimonials .testimonials-container .testimonial-card .quote-left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: black;
  color: white;
  top: 0;
  left: 20px;
  top: -22px;
}
body .stats {
  position: relative;
  background-color: #5e41e0;
  color: white;
  margin-top: 90px;
  height: 200px;
}
body .stats .stats-inner {
  display: flex;
  align-items: center;
}
body .stats .stats-inner .stats-text {
  width: 150px;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
}
body .stats .stats-inner .line {
  height: 200px;
  width: 2px;
  background-color: black;
}
body .stats .stats-inner .stats-numbers {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}
body .stats .stats-inner .stats-numbers .stat .stat-number {
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;
}
body .stats .stats-inner .stats-numbers .stat .stat-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
}
body .stats .stats-inner .stats-numbers .stat .stat-label i {
  font-size: 20px;
  color: #baca16;
}
body .stats img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
body .blogs {
  margin-top: 90px;
}
body .blogs .recent {
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
}
body .blogs .blog-main {
  margin-top: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 285px;
}
body .blogs .blog-main img {
  height: 285px;
}
body .blogs .blog-main .main-text {
  padding: 20px 15px 0 15px;
}
body .blogs .blog-main .main-text span {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
}
body .blogs .blog-main .main-text p {
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  margin-bottom: 80px;
}
body .blogs .blog-main .main-text a {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #1b1c31;
}
body .blogs .blog-main .main-text a i {
  font-size: 11.5px;
}
body .blogs .blogs-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-top: 30px;
}
body .blogs .blogs-group .blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
body .blogs .blogs-group .blog-card .blog-text {
  padding: 30px 15px 40px 15px;
}
body .blogs .blogs-group .blog-card .blog-text .blog-card-practises {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
}
body .blogs .blogs-group .blog-card .blog-text p {
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
}
body .blogs .blogs-group .blog-card span {
  margin-top: 40px;
}
body .blogs .blogs-group .blog-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}
body .faq {
  margin-top: 100px;
  position: relative;
}
body .faq .faq-left {
  position: absolute;
  top: 15%;
}
body .faq .faq-right {
  position: absolute;
  right: 0;
  transform: translateY(25%);
}
body .faq h2 {
  font-weight: 800;
  font-size: 71px;
  line-height: 76px;
}
body .faq .question-section {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
body .faq .question-section .questions {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 19px;
}
body .faq .question-section .questions .faq-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}
body .faq .question-section .questions .faq-card .faq-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 15px;
}
body .faq .question-section .questions .faq-card .faq-title .title {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
}
body .faq .question-section .questions .faq-card .faq-title .plus {
  font-size: 30px;
}
body .faq .question-section .questions .faq-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  margin: 0px 30px 15px 15px;
}
body .faq .question-section .more-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 400px;
  height: 512px;
  background-color: white;
  margin-top: 20px;
  gap: 20px;
  padding: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}
body .faq .question-section .more-questions i {
  font-size: 67px;
  margin-bottom: 20px;
}
body .faq .question-section .more-questions span {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 10px;
}
body .faq .question-section .more-questions p {
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
  padding: 0 20px 65px 20px;
  text-align: center;
}
body .faq .question-section .more-questions button {
  width: 100%;
  height: 40px;
  background-color: #ff7f5c;
  border: none;
  color: white;
}
body .discover-section {
  margin-top: 100px;
}
body .discover-section .discover-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #3734a9;
  height: 438px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
}
body .discover-section .discover-container span {
  font-weight: 800;
  font-size: 56px;
  line-height: 61px;
  color: white;
  text-align: center;
  z-index: 20;
}
body .discover-section .discover-container button {
  width: 223px;
  height: 67px;
  background-color: #ff7f5c;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  z-index: 20;
}
body .discover-section .discover-container .jickjack-left {
  position: absolute;
  bottom: 0;
  left: 8%;
  bottom: 7%;
}
body .discover-section .discover-container .cones-left {
  position: absolute;
  top: 50%;
  transform: translateY(30%);
  left: 20%;
}
body .discover-section .discover-container .dots {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: 14%;
}
body .discover-section .discover-container .jickjack-right {
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  right: 15%;
}
body .discover-section .discover-container .cones-right {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
body footer {
  margin-top: 90px;
}
body footer .footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
body footer .footer-container .ar-shakir span {
  color: #1b1c31;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
}
body footer .footer-container .ar-shakir p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #757095;
}
body footer .footer-container .ar-shakir .social-media {
  display: flex;
  gap: 15px;
}
body footer .footer-container .ar-shakir .social-media i {
  font-size: 20px;
  color: #3734a9;
}
body footer .footer-container .company span {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #181433;
}
body footer .footer-container .company ul {
  list-style: none;
  margin-top: 20px;
}
body footer .footer-container .company ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #181433;
  margin-bottom: 15px;
}
body footer .footer-container .resources span {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #181433;
}
body footer .footer-container .resources ul {
  list-style: none;
  margin-top: 20px;
}
body footer .footer-container .resources ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #181433;
  margin-bottom: 12px;
}
body footer .footer-container .join-newsletter {
  grid-column: span 2;
}
body footer .footer-container .join-newsletter span {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #181433;
}
body footer .footer-container .join-newsletter .subscribe-part {
  display: flex;
  flex: 1;
  margin-top: 20px;
  height: 52px;
}
body footer .footer-container .join-newsletter input {
  flex: 1;
  outline: none;
  border: none;
  background-color: #eeeeff;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #181433;
}
body footer .footer-container .join-newsletter input:focus {
  border-color: #8585ff;
}
body footer .footer-container .join-newsletter button {
  height: 149;
  width: 149px;
  border: none;
  background-color: #3734a9;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
body footer .footer-container .join-newsletter p {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #757095;
  margin-right: 150px;
}
body footer .footer-line {
  margin: 40px 0;
  height: 2px;
  width: 100%;
  background-color: #e5e5ea;
}
body footer .copyright {
  padding: 40px 0;
  text-align: center;
  font-weight: 400px;
  font-size: 16px;
  line-height: 26px;
  color: #181433;
}/*# sourceMappingURL=style.css.map */