$body-section: #fafbff;
$hero-section1: #62bada;
$hero-section2: #c9e7f2;
$client-section: #f5f6f8;
$features-section: #c9e7f2;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $body-section;
  font-family: "Manrope", sans-serif;
  color: black;

  .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
  }
  header {
    background: linear-gradient(to right, $hero-section2, $hero-section1);
    padding: 20px 0 0px 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-weight: 700;
    font-size: 20px;
  }
  .nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-items a {
    color: black;
    font-weight: 500;

    i {
      margin-left: 3px;
      font-size: 11px;
    }
  }

  .auth-buttons {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .sign-in {
    color: #333;
    font-weight: 500;
  }
  .start-free {
    background-color: #4f46ba;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
  }

  .hero {
    background: linear-gradient(to right, $hero-section2, $hero-section1);
    position: relative;
    height: 770px;
    overflow: hidden;
    .hero-content {
      display: flex;
      gap: 30px;
      .hero-text {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        margin-top: 175px;
        gap: 10px;
        h1 {
          font-size: 60px;
          font-weight: 800;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          margin-bottom: 30px;
          color: #555;
        }
        .hero-buttons {
          display: flex;
          gap: 80px;
          margin-top: 15px;
          margin-bottom: 30px;
          align-items: center;
          .get-started {
            background-color: #3734a9;
            color: white;
            padding: 15px 35px;
            border-radius: 47px;
            font-weight: 400;
            font-size: 16px;
          }

          .see-how {
            display: flex;
            align-items: center;
            gap: 5px;
            .play-icon {
              display: flex;
              background-color: #22d497;
              height: 54px;
              width: 54px;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              font-size: 25px;
              color: white;
            }
            a {
              font-weight: 400;
              font-size: 17px;
              color: #3734a9;
            }
          }
        }

        .hero-features {
          display: flex;
          gap: 30px;
        }

        .hero-feature {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 17px;
          color: #757095;
          i {
            color: #3734a9;
            font-size: 18px;
          }
        }
      }
      .hero-image {
        width: 45%;
        img {
          width: 500px;
        }
      }
    }
    .upper-image {
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translateY(-125%);
    }

    .bottom-right-image {
      position: absolute;
      right: 0;
      transform: translateY(-110%);
    }
    .bottom-left-image {
      position: absolute;
      bottom: 0;
      transform: translateY(-50%);
    }
  }
  .clients {
    background-color: $client-section;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    h3 {
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 22px;
    }
    .client-logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .portfolio-tracking {
    margin-top: 80px;

    .tracking-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: fit-content;
      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .automated {
          font-weight: 800;
          font-size: 56px;
        }
        .sub-title {
          font-weight: 400;
          font-size: 16px;
        }
      }
      .testimonial {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 405px;
        border-radius: 15px;
        background-color: #c4c4c4;
        padding: 30px 25px;
        font-weight: 600;
        font-size: 15px;
        position: relative;
        .quote-left {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 44px;
          width: 44px;
          border-radius: 50%;
          background-color: black;
          color: white;
          top: 0;
          transform: translateY(-50%);
        }
      }
    }
    .tracking-methods {
      display: flex;
      align-items: center;
      gap: 80px;
      margin-top: 70px;

      .tracking-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 360px;
        gap: 15px;
        background-color: white;
        flex: 1;
        padding: 85px 25px 15px 25px;
        border: 1px solid #dbe4e9;
        text-align: center;
        border-radius: 15px;
        .upper-box {
          background-color: black;
          width: 39px;
          height: 10px;
          margin-bottom: 5px;
        }
        .lower-box {
          width: 50px;
          height: 30px;
          background-color: pink;
        }
        .blue {
          background-color: #3734a9;
        }
        .orange {
          background-color: #ff7f5c;
        }
        .yellow {
          background-color: #fdbc64;
        }
        h2 {
          font-weight: 800;
          font-size: 30px;
          line-height: 34px;
          padding-right: 15px;
          padding-left: 15px;
          margin-top: 10px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #757095;
        }
        .number {
          position: absolute;
          top: 15px;
          left: 15px;
          font-weight: 800;
          font-size: 22px;
        }
      }
    }
  }

  .track-payments {
    margin-top: 100px;
    height: 500px;

    .payments {
      display: flex;
      .image-container {
        position: relative;
        .image-top {
          position: absolute;
          top: -20px;
          right: 25%;
          transform: translateX(45%);
        }
      }
      .payments-content {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        gap: 20px;
        .why-choose {
          font-weight: 700;
          font-size: 14px;
          line-height: 100%;
          color: #3734a9;
        }
        h2 {
          font-weight: 800;
          font-size: 50px;
          line-height: 60px;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #64607d;
          margin-right: 10px;
        }
        .line {
          width: 100;
          height: 2px;
          background-color: #c4c4c4;
        }
        ul {
          list-style: none;
          li {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: #64607d;

            i {
              color: #fdbc64;
            }
          }
        }
      }
    }
  }
  .save-money {
    height: 685px;
    overflow: hidden;
    .save-money-container {
      display: flex;
      .save-money-content {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        gap: 30px;
        margin-top: 150px;
        .why-choose {
          font-weight: 700;
          font-size: 14px;
          line-height: 100%;
          color: #3734a9;
        }
        h2 {
          font-weight: 800;
          font-size: 50px;
          line-height: 60px;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #64607d;
          margin-right: 10px;
        }
        .testimonial {
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 100%;
          border-radius: 15px;
          background-color: #c4c4c4;
          padding: 30px 25px;
          margin-top: 20px;
          position: relative;
          p,
          span {
            font-weight: 600;
            color: black;
            font-size: 15px;
          }
          .quote-left {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            width: 44px;
            border-radius: 50%;
            background-color: black;
            color: white;
            top: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .features {
    margin-top: 80px;
    font-weight: 600px;
    background-color: $features-section;
    .features-container {
      padding: 100px 0 80px 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2 {
        font-weight: 800;
        font-size: 71px;
        line-height: 66px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: black;
      }
      .features-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        .feature-card {
          grid-row: span 2;
          background-color: white;
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 50px 30px 35px 30px;
          border: 1px solid #abc8d2;
          border-radius: 10px;
          .upper-box {
            width: 43.12px;
            height: 10px;
            background-color: black;
            margin-bottom: 2px;
          }
          .lower-box {
            width: 55.28px;
            height: 30px;
            background-color: #ff7f5c;
          }
          .purple {
            background-color: #3734a9;
          }
          h3 {
            font-weight: 800;
            font-size: 22px;
            line-height: 35px;
          }
          p {
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
          }
        }
        .feature-small-card {
          background-color: white;
          padding: 30px 30px 15px 30px;
          display: flex;
          align-items: flex-start;
          border: 1px solid #abc8d2;
          border-radius: 8px;
          h3 {
            font-weight: 800;
            font-size: 22px;
            line-height: 35px;
          }
        }
      }
    }
  }
}
